@import url(https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i);* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

header {
  background: #1b1b1b;
  height: 70px;
  color: #ffffff; }
  header h1 {
    font-size: 24px;
    line-height: 70px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 200px;
    padding-left: 15px;
    border-right: 1px solid #333333;
    display: inline-block; }
  header ul {
    float: right;
    display: none; }
    header ul.active {
      display: block; }
    header ul li {
      float: left;
      display: block;
      line-height: 70px;
      padding: 0 25px;
      color: #cccccc;
      text-decoration: none;
      box-sizing: border-box;
      font-size: 15px;
      border-left: 1px solid #333333;
      cursor: pointer; }
      header ul li.active, header ul li:hover {
        background: #333333;
        color: #ffffff; }

header span {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: .25em .4em;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  border-radius: .25rem;
  color: #ffffff;
  display: none; }
  header span.disconnected {
    background-color: #B32D27;
    display: inline-block; }
  header span.connecting {
    background-color: #FF8818;
    display: inline-block; }

.intro h1, .intro h2 {
  margin: 0; }

.intro th {
  text-align: left; }

nav#projects {
  background: #242424;
  height: calc(100% - 70px);
  overflow-y: auto;
  float: left;
  width: 200px;
  border-right: 1px solid #333333; }
  nav#projects li {
    font-size: 13px;
    line-height: 46px;
    color: #a3a3a3;
    display: block;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer; }
    nav#projects li.active, nav#projects li:hover {
      font-weight: bold;
      color: #ffffff; }
    nav#projects li span {
      display: inline-block;
      padding: .25em .4em;
      font-size: 10px;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      border-radius: .25rem;
      float: right;
      margin-top: 16px;
      color: #ffffff;
      background-color: #1ab394; }

nav#messages .projects {
  display: none; }

@media screen and (max-width: 1024px) {
  nav#projects {
    display: none; }
  nav#messages .projects {
    display: block; }
    nav#messages .projects select {
      background: #222;
      color: #a3a3a3;
      padding: 5px 10px;
      width: 100%;
      border: 0;
      border-bottom: 1px solid #2f2f2f; } }

nav#messages {
  height: calc(100% - 70px);
  overflow-y: auto;
  width: 300px;
  border-right: 1px solid #242424;
  float: left;
  background: #2f2f2f; }
  nav#messages .search input, nav#messages .search button {
    background: #222222;
    border: 1px #222222 solid;
    color: #a3a3a3;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    outline: none;
    box-shadow: none; }
  nav#messages .search input {
    width: calc(100% - 36px); }
  nav#messages .search button {
    cursor: pointer;
    color: #ffffff; }
  nav#messages li {
    box-shadow: inset 0 -1px #242424, inset 6px 0 transparent;
    color: #a3a3a3;
    cursor: pointer; }
    nav#messages li.active, nav#messages li:hover {
      box-shadow: inset 0 -1px #242424, inset 6px 0 #1ab394;
      color: #ffffff; }
    nav#messages li time {
      font-size: 11px;
      padding: 10px 10px 10px 15px; }
    nav#messages li h4 {
      font-size: 14px;
      padding: 10px 10px 10px 15px;
      margin: 0;
      font-weight: normal;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
    nav#messages li.new time {
      font-weight: bold; }

@media screen and (max-width: 768px) {
  nav#messages {
    display: none; } }

section.info {
  font-size: 14px;
  padding-bottom: 15px; }
  section.info th {
    text-align: left;
    padding-right: 15px; }

body {
  font-family: "Montserrat", sans-serif;
  background: #333333; }

main {
  margin-left: 500px;
  padding: 15px 0 0 15px;
  color: #a3a3a3;
  height: calc(100% - 70px); }
  main iframe {
    width: 100%;
    height: calc(100% - 165px);
    border: none; }

@media screen and (max-width: 1024px) {
  main {
    margin-left: 300px; } }

@media screen and (max-width: 768px) {
  main {
    margin-left: 0; } }

/*# sourceMappingURL=bundle.css.map*/