@import "./reset";
@import "./fonts";
@import "./colors";
@import "./sizes";

@import "./components/header";
@import "./components/status";
@import "./components/intro";
@import "./components/projects";
@import "./components/messages";
@import "./components/info";

@import "mobile/header";
@import "mobile/messages";
@import "mobile/info";

body {
    font-family: $font-main;
    background: $color-theme-1;
}

main {
    margin-left: $size-content-offset;
    padding: 15px 0 0 15px;
    color: $color-theme-3;
    height: calc(100% - #{$size-header-height});

    iframe {
        width: 100%;
        height: calc(100% - 165px);
        border: none;
    }
}

@media screen  and (max-width: 1024px) {
    main {
        margin-left: $size-nav-messages-width;
    }
}

@media screen  and (max-width: 768px) {
    main {
        margin-left: 0;
    }
}
