@import "./reset";
@import "./fonts";
@import "./colors";
@import "./sizes";
@import "./loader";

@import "./components/header";
@import "./components/nav";
@import "./components/content/info";

body {
    font-family: $font-main;
}

main {
    margin-left: 325px;
    padding: 0 0 $size-padding $size-padding;
    height: $size-content;
    box-sizing: border-box;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}
