$color-header-bg: #1b1b1b;
$color-header-title: #ffffff;

$color-theme-1: #333333;
$color-theme-2: #242424;
$color-theme-3: #a3a3a3;
$color-theme-4: #2f2f2f;
$color-theme-5: #292929;
$color-theme-6: #222222;
$color-theme-7: #1ab394;
