$color-theme-1: #3b3b3b;
$color-theme-2: #e2edf3;
$color-theme-3: #f3f3f3;



$color-header-bg: $color-theme-1;
$color-header-menu-active: #5a5959;
$color-header-menu-delete: #e05050;

$color-border: #e9e9e7;

$color-messages-background: $color-theme-3;
$color-messages-background-new: white;
$color-messages-background-active: $color-theme-2;







$color-light-gray: #f3f3f3;
$color-blue: #e2edf3;

$color-text: #1e1c1c;
$color-hover: #f3f0f0;
$color-background-loader: rgba(243, 240, 240, 0.8);
