@import "./../fonts";
@import "./../colors";
@import "./../sizes";

header {
    background: $color-header-bg;
    height: $size-header-height;
    color: white;

    h1 {
        font-family: $font-main;
        font-size: $size-header-font-title;
        line-height: $size-header-height;
        margin: 0 $size-spacing;
        float: left;
        font-weight: normal;
    }

    ul {
        float: right;
        display: block;

        &.active {
            display: block;
        }

        li {
            display: block;
            float: left;
            line-height: $size-header-height;
            padding: 0 $size-spacing;
            cursor: pointer;
            font-size: $size-header-font-menu;

            i {
                margin-right: $size-spacing;
            }

            &:hover, &.active {
                background: $color-header-menu-active;
            }

            &.delete:hover {
                background: $color-header-menu-delete;
                color: white;
            }
        }
    }
}
