@import "./../fonts";
@import "./../colors";
@import "./../sizes";

header {
    background: $color-header-bg;
    height: $size-header-height;
    color: $color-header-title;

    h1 {
        font-size: $size-header-font-title;
        line-height: $size-header-height;
        font-weight: bold;
        margin: 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        width: $size-nav-projects-width;
        padding-left: 15px;
        border-right: 1px solid $color-theme-1;
        display: inline-block;
    }

    ul {
        float: right;
        display: none;

        &.active {
            display: block;
        }

        li {
            float: left;
            display: block;
            line-height: 70px;
            padding: 0 25px;
            color: #cccccc;
            text-decoration: none;
            box-sizing: border-box;
            font-size: 15px;
            border-left: 1px solid $color-theme-1;
            cursor: pointer;

            &.active, &:hover {
                background: $color-theme-1;
                color: #ffffff;
            }
        }
    }
}
