@import "./../sizes";
@import "./../colors";

section.info {
    font-size: 14px;
    padding-bottom: 15px;

    th {
        text-align: left;
        padding-right: 15px;
    }

    td {
        word-break: break-word;
    }
}
