@import "./../sizes";
@import "./../colors";

section.info {
    font-size: 14px;
    padding-bottom: 15px;

    .basic {
        width: 80%;
        float: left;
    }

    .attachments {
        width: 20%;
        float: left;
        padding: 15px 15px 10px 15px;
        background: #1b1b1b;
        overflow-y: auto;

        li {
            padding-bottom: 5px;

            svg {
                margin-right: 5px;
            }
        }
    }

    th {
        text-align: left;
        padding-right: 15px;
    }

    td {
        word-break: break-word;
    }
}
