@import "./../colors";
@import "./../sizes";

nav#projects {
    background: $color-theme-2;
    height: calc(100% - #{$size-header-height});
    overflow-y: auto;
    float: left;
    width: $size-nav-projects-width;
    border-right: 1px solid $color-theme-1;

    li {
        font-size: 13px;
        line-height: 46px;
        color: $color-theme-3;
        display: block;
        padding-left: 18px;
        padding-right: 18px;
        cursor: pointer;

        &.active, &:hover {
            font-weight: bold;
            color: #ffffff;
        }

        span {
            display: inline-block;
            padding: .25em .4em;
            font-size: 10px;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            border-radius: .25rem;
            float: right;
            margin-top: 16px;
            color: #ffffff;
            background-color: $color-theme-7;
        }
    }
}
