@import "./../colors";
@import "./../sizes";

header > button {
    display: none;
}

@media screen and (max-width: 768px) {
    header {
        > button {
            display: inline-block;
            background: none;
            border: none;
            color: $color-header-title;
            font-size: $size-header-font-title;
            line-height: $size-header-height;
            margin: 0;
            padding-right: 15px;
            padding-left: 15px;
            float: right;
        }
    }
}
