@import "./../colors";
@import "./../sizes";

header {
    .expander {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .mobile-close {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    header {
        .expander {
            display: inline-block;
            background: none;
            border: none;
            color: $color-header-title;
            font-size: $size-header-font-title;
            line-height: $size-header-height;
            margin: 0;
            padding-right: 15px;
            padding-left: 15px;
            cursor: pointer;
            outline: 0;
            transition: all 0.1s ease-in-out;

            &.expanded {
                transform: rotate(180deg);
            }

            &.menu-expanded {
                display: none;
            }
        }

        h1 {
            &.menu-expanded {
                display: none;
            }
        }

        .hamburger {
            display: inline-block;
            background: none;
            border: none;
            color: $color-header-title;
            font-size: $size-header-font-title;
            line-height: $size-header-height;
            margin: 0;
            padding-right: 15px;
            padding-left: 15px;
            float: right;
            cursor: pointer;
            outline: 0;

            &.menu-expanded {
                display: none;
            }
        }

        > ul {
            display: none;
            width: 100%;

            &.active {
                display: none;
            }

            &.menu-expanded {
                display: block;
            }

            li {
                width: 16.6666666%;
                text-align: center;
            }
        }

        .mobile-close {
            display: inline-block;
        }
    }
}
