@media screen and (max-width: 768px) {
    nav#messages {
        display: block;
        width: 100%;
        margin-left: -100%;
        transition: all 0.1s ease-in-out;

        &.expanded {
            margin-left: 0;
        }
    }
}
